<div class="task-container">

  <div class="task">
    <form [formGroup]="taskForm" (ngSubmit)="create()" class="task-form">
      <h1 *ngIf="toDo">Update Task</h1>
      <h1 *ngIf="!toDo">Create Task</h1>


      <mat-form-field>
        <mat-label>To Do</mat-label>
        <input matInput [(ngModel)]="toDo" [ngModelOptions]="{standalone: true}" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
          <mat-option value="PENDING">PENDING</mat-option>
          <mat-option value="InPROGRESS">InPROGRESS</mat-option>
          <mat-option value="COMPLETED">COMPLETED</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <mat-select [(ngModel)]="userId" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let type of userList" [value]="type.id">
            {{type.firstname}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Begin Date</mat-label>
        <input matInput [matDatepicker]="picker"  [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}" name="selectedDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Completed Date</mat-label>
        <input matInput [matDatepicker]="picker2"  [(ngModel)]="selectedDate2" [ngModelOptions]="{standalone: true}" name="selectedDate2">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker2></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button *ngIf="!toDo" (click)="saveDate12()" type="submit" color="primary">Create</button>
      <button mat-raised-button *ngIf="toDo" (click)="saveDate12()" type="submit" color="primary">Update</button>
      <button mat-raised-button *ngIf="userId" routerLink="/dashboard" color="warn">Cancel</button>
      <button mat-raised-button *ngIf="!userId" routerLink="/task-list" color="warn">Cancel</button>
    </form>
  </div>
</div>
