.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  color: white;
  background-color: cadetblue;
  height: 350px;
  width: 250px;
  margin: 20px;
  border-radius: 20px;
}

.login-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
