table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.search {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px; /* Spatiu între câmpuri */
  align-items: center;
}

mat-form-field {
  flex: 1; /* Ajustează lățimea câmpurilor după nevoi */
}
