table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 70%;
}

td, th {
  width: 25%;
}

.search {
  width: 50%;
  display: flex;
  align-items: center;
}

.container {

}

.container-list {
width: 100%;
}

.add-button {

}
